@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto.woff2) format('woff2');
  }
}
#root {
  text-align: center;
  font-family: 'Archivo Narrow';
  font-family:'Impact';
}

h1{
  margin: 0;
  padding: 0;
  color: rgb(51, 53, 55);
  letter-spacing: 4px;
 }
#mean{
  margin: auto;
  width: 45%;
  text-align: center;
  
  transform: perspective(100px) rotateX(15deg) scale(0.9,0.7) ;
  margin-top: -160px;
}